.App {
  text-align: center;
  font-family: 'Lexend', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 80vw;
  height: 50vh;
}

.link {
  text-decoration: none;
  background-color: #999999;
  padding: 0;
  margin: 0;
}

.map {
  width: 70vw;
  border-radius: 10px;
}

.logo {
  width: 140px;
  height: 220px;
}

body {
  box-shadow: inset 100px 10px 100px -75px #C92E36, 
              inset -100px 10px 100px -75px #C92E36;
}

.navbar {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #999999;
}

.navbar img {
  width: 180px;
  height: 116px;
  display: flex;
  justify-self: center;
  margin: 0 auto;
  padding: 0;
}

.header-logo {
  justify-self: center;
  align-self: center;
  margin-left: 44%;
}

.header-logo:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.header-links {
  display: flex;
  margin-left:  auto;
  margin-right: 12vw;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 19%;
  justify-self: flex-end;
  font-style: bold;
  font-size: 25px;
}

.header-links:hover {
  cursor: pointer;
}

.contact {
  margin-right: 50px;
  width: 120px;
  position: relative;
  color: #1D1D1D;
  text-decoration: none;
}

.about {
  width: 100px;
  position: relative;
  color: #1D1D1D;
  text-decoration: none;
}

.contact:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: 
#000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}


.contact:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  cursor: pointer;
  color: #999999;
}

.about:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: 
#000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  color: #999999;
}

.about:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  cursor: pointer;
}

.call {
  width: 28vw;
  background-color: rgba(153, 153, 153, .5);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  left: 0;
  border-radius: 10px;
  color: black;
}

.reviews {
  width: 28vw;
  background-color: rgba(153, 153, 153, .5);
  color:black;
  margin-right: -2vw;
  position: relative;
  border-radius: 10px;
}

.phone {
  height: 150px;
  width: 85px;
  align-self: center;
}

.action {
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  width: 68vw;
  height: 25vh;
  justify-content: space-between;
  color: black;
  margin-bottom: 20px;
}

.dropdown {
  margin-top: 10px;
  margin-right: 10px;
  color: black;
  display: flex;
  justify-content: center;
}

#label {
  margin-right: 5px;
}

.actual-number {
  text-decoration: none;
  padding: 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  width: 40%;
  padding: 0px;
  background-color: #F3F0E7;
  border-radius: 5px;
}

.body {
  width: 70vw;
  height: 85vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #999999;
  margin-top: 10px;
  border-radius: 10px;
  margin-left: -4px;
}

.name {
  width: 90%;}

.email {
  width: 90%;}

.subject {
  width: 90%;
}

.message {
  width: 90%;
  height: 200px;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  width: 100%;
  display: inline-block;
  text-align: left;
  margin-left: 35px;
}

.contact-location {
  text-align: center;
  margin-top: 10px;
}

.submit {
  margin-top: 5px;
  
}

.widget {
  display: inline;
}

.location-map {
  border-radius: 5px;
}

script {
  display: inline;
}