@media screen and (max-width: 480px) {
    .App {
        text-align: center;
        font-family: 'Lexend', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        overflow-x: none;
      }


      .map {
        width: 98%;
        border-radius: 10px;
      }
      
      .navbar {
        width: 100%;
        flex-direction: column;
        display: flex;
        background-color: #EDEEC9;
      }
      
      .list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        height: 100%;
        width: 50%;
        margin: 0 auto;
      }
      
      .header-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-style: bold;
        font-size: 25px;
        margin: 0 auto;
        width: 100%;
      }
      .header-links a {
        display: flex;
        justify-content: center;
        text-align: center;
      }
      
      .contact {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        text-align: center;
      }

      .about {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-left: 28%;
      }
      .link {
        display: flex;
        justify-content: center;
      }
      
      
      .call {
        width: 100vw;
        background-color: rgba(153, 153, 153, .5);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        left: 0;
        border-radius: 10px;
        color: black;
      }
      
      .reviews {
        width: 100vw;
        margin-top: 10px;
        height: 190px;
        background-color: rgba(153, 153, 153, .5);
        color:black;
        position: relative;
        border-radius: 10px;
        overflow: scroll;
      }

      .review-card {
        width: 90%;
      }
      
      .phone {
        height: 150px;
        width: 85px;
        align-self: center;
      }
      
      .action {
        margin-top: 5vh;
        display: flex;
        flex-direction: column;
        width: 100vw;
        justify-content: space-between;
        color: black;
        margin-bottom: 20px;
        margin-left: 0px;
      }
      
      .action div h3 {
        margin-top: 40px;
      }

      .dropdown {
        margin-top: 10px;
        margin-right: 10px;
        color: black;
        display: flex;
        justify-content: center;
      }
      
      #label {
        margin-right: 5px;
      }
      
      .actual-number {
        text-decoration: none;
        padding: 0;
      }
      
      /* --------------------------------------------------- Contact Page ----------------------------------------------------- */

      .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 500px;
        width: 100%;
        padding: 0px;
        background-color: #F3F0E7;
        border-radius: 5px;
      }
      
      .body {
        width: 95vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 10px;
        border-radius: 10px;
        margin-left: -4px;
        background-color: rgba(153, 153, 153, 0);
      }


      
      .name {
        width: 90%;
        margin-top:5px;
      }
      
      .email {
        width: 90%;
        margin-top: 6px;
      }
      
      .subject {
        width: 90%;
      }
      
      .message {
        width: 90%;
        height: 200px;
      }
      
      label {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5px;
        width: 100%;
        display: inline-block;
        text-align: left;
        margin-left: 35px;
      }
      
      .contact-location {
        text-align: center;
        margin-top: 10px;
      }
      
      .submit {
        margin-top: 5px;
        
      }
      
      .location-map {
        margin-top: 10px;
        border-radius: 5px;
        width: 100%;
        height: 500px;
      }

      .location-map-num {
        width: 95vw;
        background-color: transparent;
      }

      .second-number {
        margin-top: 10px;
      }
      .actual-number {
        background-color: transparent;
      }
      .location-map-num a {
        background-color: transparent;
      }

      


/* -------------------------------------------- Embla Carousel ------------------------------------------ */



  .image-container {
    width: 100%;
    height: 400px;
    font-size: 12px;
    text-align: center;
  }
  .image-container h1 {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .image-container h1 p {
    width: 100%;
  }

  .footer {
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }

  .info {
    margin: 0px;
  }

/*------------------------------------------------------------ Services ---------------------------------------------------------- */

.services img {
  width: 100%;
  border-radius: 0px;
}

.services {
  width: 90vw;
  height: auto;
  background-color: #999999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 1500px;
  border-radius: 10px;
}

.services div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 0px;
  border-radius: 0px;

}

.services div p {
  text-align: left;
  padding-left: 10px;
  padding-right: 1px;
}
.services div h3 {
  text-align: center;
  padding-left: 10px;
  text-decoration-color: gold;
  text-decoration: underline;
}
.services div div {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 0px;
}

.services-img {
  width: 100%;
  border-radius: 0px;
}

.service-contact {
  color: blue;
}

.service1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  height: 400px;
  margin-top: -80px;
}
.service2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  margin-top: 70px;


}
.service3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

.services p {
  width: 95%;
}

.services-opener {
  margin-top: -40px;
  margin-bottom: 60px;
}


}
